.credential-container {
    width: auto;
    height: auto;
    /* border: black;
    border-color: black; */
    color: #6b6b6e;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20vh;
    /* margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px;
}

.key-field {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.secret-field {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.credential-button {
    background: #4882c5;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
}

input {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: auto;
    font-size: 20px;
    /* opacity: 1; */
    color: #48484d;
}

input::placeholder {
    opacity: 1;
    color: #6b6b6e;
    font-size: 12px;
}

.error {
    color: #830d27;
}